@charset "UTF-8";
/*======================================================================

◆CSSマップ
-----------------------------------------------------------------
L　【　リセット　】
L　【　基本設定　】
L 【 ぺージ全体範囲 】
L 【 カラーパターン 】
L 【 スニペット 】
L　【 WEBフォント設定 】
L　【 clearfix 】
L　【 ブロックに合わせて自動縮小 】
L　【 グーグルマップ 】
L　【 フェイスブック(pagePulgin) 】
L　【 旧ブラウザ用コメントスタイル 】
L　【　共通：ヘッダー　】
L　【　共通：グローバルナビ　】
L　【　共通：フッター　】
L　【　共通：サイド　】
L　【　共通：その他　】
L　【　共通：メインコンテンツ　】
-----------------------------------------------------------------

上記のテキストを[ctrl+c]でコピーして
指定のページまで飛んでください

======================================================================*/
/*======================================================================
 * リセット
======================================================================*/
* {
  word-wrap: break-word !important;
}

figure,p,div {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}


/*======================================================================
 * 基本設定
======================================================================*/
html {
  font-size: 62.5%;
}

body {
  background: #fff;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  color: #232323;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a.unline {
  text-decoration: none;
}

a.opc:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}


/*======================================================================
  ＊ページ全体範囲
======================================================================*/
/*※デザインに応じてwidthを変更*/
/*※レスポンシブサイトなら「width」を「max-width」に変更*/
.range_01 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
}

@media screen and (max-width: 1200px) {
  .range_01 {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}


/*======================================================================
  ＊　カラーパターン
======================================================================*/
/*HPに使う配色を指定してください*/
.cp_01 {
  color: #ff6363;
}

/*======================================================================
  ＊　スニペット
======================================================================*/
/*マージンスニペット*/
.mg_b01 {
  margin-bottom: 60px;
}

.mg_b02 {
  margin-bottom: 35px;
}

.mg_b03 {
  margin-bottom: 30px;
}

/*======================================================================
  ＊　WEBフォント設定
======================================================================*/
/*----WEBフォントのファイルを読み込み----*/
/*
@font-face{
font-family: 'フォント名';
    src: url(フォント名.eot);
    src: url(フォント名.ttf),
         url(フォント名.woff);
}
*/
/*----WEBフォントをclassに設定----*/
/*
.フォント名 {
    font-family: 'フォント名',"メイリオ", Meiryo, sans-serif;
}
*/
/*======================================================================
  ＊ clearfix
======================================================================*/
.cf:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}

/*======================================================================
  ＊ ブロックに合わせて自動縮小
======================================================================*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*======================================================================
  ＊ グーグルマップ
======================================================================*/
/*<div class="ggmap">{iframeコード}</div>*/
/*※iframe内のwidth,heightは消す*/
.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.ggmap iframe,
.ggmapr object,
.ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*======================================================================
  ＊ フェイスブック(pagePulgin)
======================================================================*/
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style] {
  width: 100% !important;
}

/*======================================================================
  ＊　旧ブラウザ用コメントスタイル
======================================================================*/
#ie8_below {
  border: solid 1px #f00;
  box-sizing: border-box;
  margin: 20px auto;
  max-width: 960px;
  padding: 20px;
}
#ie8_below p, #ie8_below ul {
  font-size: 14px;
  line-height: 22px;
}

/*====================================
　＊ 共通：ヘッダー
=====================================*/
#header {
  /*スタイルを書き込んでください…*/
}

/*====================================
　＊ 共通：グローバルナビ
=====================================*/
#gNav {
  /*スタイルを書き込んでください…*/
}

/*====================================
　＊ 共通：フッター
=====================================*/
#footer {
  /*スタイルを書き込んでください…*/
}

/*====================================
　＊ 共通：サイドバー
=====================================*/
#sidebar {
  /*スタイルを書き込んでください…*/
}

/*====================================
　＊ 共通：その他
=====================================*/
#xxx {
  /*スタイルを書き込んでください…*/
}

/*====================================
　＊ 共通：メインコンテンツ
=====================================*/
#wrapper {
  /*スタイルを書き込んでください…*/
}

#container {
  /*スタイルを書き込んでください…*/
}

#leftCol {
  /*スタイルを書き込んでください…*/
}

#rightCol {
  /*スタイルを書き込んでください…*/
}
